/* ============================= */
/*           Loading             */
/* ============================= */
@import url(style.css);
/* ============================= */
/*     Animation à l'arrivé      */
/* ============================= */
/* 0 */
body {
  background: radial-gradient(circle, var(--secondary-color), #000000);
  background-size: cover;
  animation: stars 50s infinite linear;
}
@keyframes stars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 5000px;
  }
}
#reseaux img,
#en-tete #logo img,
#en-tete .titre {
  animation: 3.5s ease-in-out 4s infinite neon;
}
@keyframes neon {
  0% {
    box-shadow: 0 0 25px var(--secondary-color);
  }
  50% {
    box-shadow: 0 0 75px var(--secondary-color);
  }
  100% {
    box-shadow: 0 0 25px var(--secondary-color);
  }
}
/* 1 */
#en-tete {
  animation: 0.75s ease-in-out forwards titre-2;
  gap: 15vw;
}
@keyframes titre-2 {
  from {
    gap: 15vw;
  }
  to {
    gap: 25px;
  }
}
/* 2 */
#reseaux {
  animation: 1s ease-in-out 0.75s forwards réseaux;
  gap: 0;
  opacity: 0;
  transform: translateY(-115px);
}
@keyframes réseaux {
  0% {
    transform: translateY(-115px);
    gap: 0;
  }
  1% {
    transform: translateY(-115px);
    gap: 0;
    opacity: 100%;
  }
  50% {
    transform: translateY(0);
    gap: 0;
    opacity: 100%;
  }
  100% {
    transform: translateY(0);
    gap: 20px;
    opacity: 100%;
  }
}
/* 3 */
#discord img {
  animation: 0.5s ease-in-out 1.75s discord;
}
@keyframes discord {
  50% {
    background-color: #5663f7;
    scale: 1.2;
  }
}
/* 4 */
#mail img {
  animation: 0.5s ease-in-out 2s mail;
}
@keyframes mail {
  50% {
    background-color: #208cdc;
    scale: 1.2;
  }
}
/* 5 */
#github img {
  animation: 0.5s ease-in-out 2.25s github;
}
@keyframes github {
  50% {
    background-color: #ffffff;
    scale: 1.2;
  }
}

/* ============================= */
/*     Animation au scroll       */
/* ============================= */

header {
  animation-name: header;
  animation-timeline: scroll();
  animation-range: 0 300px;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes header {
  from {
    backdrop-filter: blur(0);
    box-shadow: 0 0 0px var(--secondary-color);
    background-color: #00000000;
    height: 240px;
  }
  to {
    backdrop-filter: blur(4px);
    box-shadow: 0 0 25px var(--secondary-color);
    background-color: #000000b4;
    height: 120px;
  }
}
#header {
  animation-name: header-2;
  animation-timeline: scroll();
  animation-range: 0 300px;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@keyframes header-2 {
  from {
    scale: 1;
    transform: translateY(0);
  }
  to {
    scale: 0.7;
    transform: translateY(-20px);
  }
}
#reseaux-2 {
  animation-name: réseaux-2;
  animation-timeline: scroll();
  animation-range: 0 300px;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@keyframes réseaux-2 {
  from {
    transform: translateY(0) translateX(0);
  }
  to {
    transform: translateY(-110px) translateX(300px);
  }
}
#en-tete-2 {
  animation-name: en-tete-2;
  animation-timeline: scroll();
  animation-range: 0 300px;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@keyframes en-tete-2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-180px);
  }
}
div:not(.noscroll),
hr:not(.noscroll),
label:not(.noscroll),
textarea:not(.noscroll),
input:not(.noscroll) {
  animation: scroll ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 10% contain 20%;
}
@keyframes scroll {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}
