/* ============================= */
/*           Loading             */
/* ============================= */

/* ============================= */
/*     Animation à l'arrivé      */
/* ============================= */
/* 0 */
body {
  background: radial-gradient(circle, var(--secondary-color), #000000);
  background-size: cover;
  animation: stars 50s infinite linear;
}
@keyframes stars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 5000px;
  }
}
/* 1 */
#en-tete {
  animation: 0.75s ease-in-out forwards titre-2;
  gap: 15vw;
}
@keyframes titre-2 {
  from {
    gap: 15vw;
  }
  to {
    gap: 15px;
  }
}
/* 2 */
#reseaux {
  animation: 1s ease-in-out 0.75s forwards réseaux;
  gap: 0;
  opacity: 0;
  transform: translateY(-115px);
}
@keyframes réseaux {
  0% {
    transform: translateY(-115px);
    gap: 0;
  }
  1% {
    transform: translateY(-115px);
    gap: 0;
    opacity: 100%;
  }
  50% {
    transform: translateY(0);
    gap: 0;
    opacity: 100%;
  }
  100% {
    transform: translateY(0);
    gap: 17px;
    opacity: 100%;
  }
}
/* 3 */
#youtube img {
  animation: 0.5s ease-in-out 1.75s youtube;
}
@keyframes youtube {
  50% {
    background-color: #ff0001;
    scale: 1.2;
  }
}
/* 4 */
#discord img {
  animation: 0.5s ease-in-out 2s discord;
}
@keyframes discord {
  50% {
    background-color: #5663f7;
    scale: 1.2;
  }
}
/* 5 */
#instagram img {
  animation: 0.5s ease-in-out 2.25s instagram;
}
@keyframes instagram {
  50% {
    background: rgb(255, 220, 128);
    background: linear-gradient(
      63deg,
      rgba(255, 220, 128, 1) 0%,
      rgba(252, 175, 69, 1) 15%,
      rgba(245, 96, 64, 1) 25%,
      rgba(253, 29, 29, 1) 41%,
      rgba(225, 48, 108, 1) 59%,
      rgba(131, 58, 180, 1) 73%,
      rgba(91, 81, 216, 1) 86%,
      rgba(64, 93, 230, 1) 100%
    );
    scale: 1.2;
  }
}
/* 6 */
#github img {
  animation: 0.5s ease-in-out 2.5s github;
}
@keyframes github {
  50% {
    background-color: #ffffff;
    scale: 1.2;
  }
}

/* ============================= */
/*     Animation au scroll       */
/* ============================= */

header {
  animation-name: header;
  animation-timeline: scroll();
  animation-range: 0 300px;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes header {
  from {
    backdrop-filter: blur(0);
    box-shadow: 0 0 0 black;
    border-radius: 0;
  }
  to {
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 9px black;
    border-radius: 0 0 30px 30px;
  }
}
#header {
  animation-name: header-2;
  animation-timeline: scroll();
  animation-range: 0 300px;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@keyframes header-2 {
  from {
    scale: 1;
    gap: 15px;
    transform: translateY(0);
  }
  to {
    scale: 0.7;
    gap: 5px;
    transform: translateY(-20px);
  }
}
div:not(.noscroll),
hr:not(.noscroll),
label:not(.noscroll),
textarea:not(.noscroll),
input:not(.noscroll) {
  animation: scroll ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 10% contain 20%;
}
@keyframes scroll {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}
