/* ============================= */
/*             Fonts             */
/* ============================= */
@font-face {
  font-family: "Spin Cycle";
  src: url(".fonts/Spin_cycle.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Silvertones";
  src: url(".fonts/Silvertones.ttf");
  font-weight: normal;
  font-style: normal;
}
/* ============================= */
/*           Variables           */
/* ============================= */
html {
  --primary-color: #e1e4ce;
  --secondary-color: #5aa3ac;
  --tertiary-color: none;
  --border-color: #485c9b;
  --text-color: none;
  --hr-color: #393b70;
}
/* ============================= */
/*          Global Styles        */
/* ============================= */
/*html {
  background: rgb(105, 40, 78);
  background: -moz-linear-gradient(100deg, rgba(105, 40, 78, 1) 0%, rgba(9, 9, 121, 1) 100%);
  background: -webkit-linear-gradient(100deg, rgba(105, 40, 78, 1) 0%, rgba(9, 9, 121, 1) 100%);
  background: linear-gradient(100deg, rgba(105, 40, 78, 1) 0%, rgba(9, 9, 121, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#69284e",endColorstr="#090979",GradientType=1);
  color: white;
}*/
body {
  background: radial-gradient(circle, var(--secondary-color), #000000);
  background-size: cover;
  animation: stars 50s infinite linear;
  color: var(--text-color);
}
@keyframes stars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 5000px;
  }
}
hr {
  margin: 25px 3%;
  border: solid var(--hr-color) 5px;
  border-radius: 30px;
}

/* ============================= */
/*         Header Section        */
/* ============================= */
#en-tete {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#en-tete #logo img {
  border: solid var(--border-color) 2px;
  border-radius: 50px;
  transition: 0.2s ease;
}
#en-tete #logo:active {
  opacity: 0%;
}
#en-tete .titre {
  font-family: "Spin Cycle";
  margin-left: 10px;
  padding-top: 10px;
  background-color: var(--primary-color);
  border: solid var(--border-color) 2px;
  border-radius: 30px;
  align-content: center;
  transition: 0.2s ease;
}

/* ============================= */
/*    Social Networks Section    */
/* ============================= */
#reseaux {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#reseaux img {
  background-color: var(--secondary-color);
  padding: 10px;
  transition: 0.3s ease;
}

/* Social Media Hover Styles */
#youtube:hover img {
  background-color: #ff0001;
}
#twitter:hover img {
  background-color: #1d9bf1;
}
#discord:hover img {
  background-color: #5663f7;
}
#snapchat:hover img {
  background-color: #fefc01;
}
#instagram:hover img {
  background: rgb(255, 220, 128);
  background: linear-gradient(
    63deg,
    rgba(255, 220, 128, 1) 0%,
    rgba(252, 175, 69, 1) 15%,
    rgba(245, 96, 64, 1) 25%,
    rgba(253, 29, 29, 1) 41%,
    rgba(225, 48, 108, 1) 59%,
    rgba(131, 58, 180, 1) 73%,
    rgba(91, 81, 216, 1) 86%,
    rgba(64, 93, 230, 1) 100%
  );
}
#tiktok:hover img {
  background: rgb(1, 243, 232);
  background: linear-gradient(
    45deg,
    rgba(1, 243, 232, 1) 0%,
    rgba(255, 0, 81, 1) 100%
  );
}

/* ============================= */
/*       About Me Section        */
/* ============================= */
#moi {
  display: flex;
  justify-content: center;
  align-content: center;
}
#moi p {
  font-size: 17px;
  font-family: "Silvertones";
  margin: 10px;
  padding: 25px;
  background: var(--primary-color);
  border: solid var(--border-color) 2px;
  border-radius: 30px;
  align-content: center;
}
#moi big {
  font-size: 30px;
}

/* ============================= */
/*       Summary Section         */
/* ============================= */
#sommaire {
  display: flex;
  flex-direction: column;
}
#sommaire a {
  text-decoration: none;
  color: #000000;
}
#sommaire .titre {
  display: flex;
  justify-content: center;
}
#sommaire .titre p {
  transition: 0.2s ease;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 5px;
  margin-bottom: 30px;
  border-radius: 30px;
  font-family: "Spin Cycle";
  border: solid var(--border-color) 3px;
  background: var(--primary-color);
}
#bio p,
#commentaire p {
  margin: 5px;
  padding: 15px;
  border-radius: 30px;
  font-family: "Spin Cycle";
  border: solid var(--border-color) 3px;
  background: var(--primary-color);
}

/* ============================= */
/*  Biography & Form Section     */
/* ============================= */
#bio,
#commentaire {
  transition: 0.3s ease;
}

/* ============================= */
/*         Form Styles           */
/* ============================= */
form {
  font-family: "Silvertones";
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  margin: 10px;
}
fieldset {
  border: solid var(--border-color) 5px;
  border-radius: 30px;
  margin-bottom: 20px;
  padding-bottom: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
legend {
  margin: auto;
  text-align: center;
  border: solid var(--border-color) 5px;
  border-radius: 30px;
  padding: 10px;
}
#message {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: solid var(--border-color) 3px;
}
#envoyer {
  height: 120px;
  width: 25px;
}
input[type="submit"] {
  height: 50px;
  width: 200px;
  border-radius: 30px;
  font-family: "Silvertones";
  background-color: var(--primary-color);
  border: solid var(--border-color) 3px;
  transition: 0.3s ease;
}
input[type="submit"]:active {
  background-color: rgb(99, 255, 60);
}
input[type="email"] {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: solid var(--border-color) 3px;
}

/* ============================= */
/*        Comment Section        */
/* ============================= */
#commenter .titre {
  top: 75px;
  display: flex;
  justify-content: center;
}
#commenter .titre p {
  transition: 0.3s ease;
  margin: 5px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  font-family: "Spin Cycle";
  border: solid var(--border-color) 3px;
  background: var(--primary-color);
}

/* ============================= */
/*         Media Queries       */
/* ============================= */

/* Pour les écrans ≤ 768px */
@media (max-width: 768px) {
  /* Header */
  #en-tete #logo img {
    height: 70px;
    width: 70px;
  }
  #en-tete .titre {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* Réseaux sociaux */
  #reseaux img {
    height: 25px;
    width: 25px;
    border-radius: 17px;
    margin-left: 7px;
  }
  /* About Me */
  #moi {
    margin-left: 2vh;
    margin-right: 2vh;
  }
  /* Biography & comment */
  #sommaire .titre {
    font-size: 30px;
  }
  #bio {
    width: 260px;
    font-size: 23px;
  }
  #commentaire {
    width: 210px;
    font-size: 23px;
  }
  #commentaire br {
    display: block;
  }
  /* Fieldset & Message */
  fieldset {
    font-size: 17px;
    width: 310px;
    height: 350px;
    padding-left: 2vh;
    padding-right: 2vh;
  }
  #message {
    width: 300px;
    height: 290px;
  }
  /* Contact Me */
  #commenter .titre {
    margin-bottom: 25px;
  }
  #commenter .titre p {
    font-size: 30px;
  }
}

/* Pour les écrans ≥ 768px */
@media (min-width: 768px) {
  /* Header */
  #en-tete #logo img {
    height: 100px;
    width: 100px;
  }
  #en-tete .titre {
    font-size: 62.5px;
    padding-left: 25px;
    padding-right: 22px;
  }
  /* Réseaux sociaux */
  #reseaux img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-left: 10px;
  }
  /* Social Media Hover (appliqué à plusieurs sélecteurs) */
  #youtube:hover img,
  #discord:hover img,
  #instagram:hover img {
    height: 70px;
    width: 70px;
  }
  /* About Me */
  #moi {
    margin-left: 10vh;
    margin-right: 10vh;
  }
  /* Biography & comment */
  #sommaire .titre {
    font-size: 45px;
  }
  #bio {
    width: 370px;
    font-size: 35px;
  }
  #commentaire {
    width: 550px;
    font-size: 35px;
  }
  #commentaire br {
    display: none;
  }
  #bio:hover {
    width: 420px;
    font-size: 40px;
  }
  #commentaire:hover {
    width: 610px;
    font-size: 40px;
  }
  /* Fieldset & Message */
  fieldset {
    font-size: 20px;
    width: 500px;
    height: 303px;
  }
  #message {
    width: 780px;
    height: 250px;
  }
  /* Contact Me */
  #commenter .titre {
    margin-bottom: 30px;
  }
  #commenter .titre p {
    font-size: 45px;
  }
}
